{% extends "ShubaBlogBundle::layout.html.twig" %}

    {% block title %} {{ parent() }} Blog {% endblock %}
    {% block content %}

        {% for post in posts %}

            <div class="blog-post" style="margin-bottom: 40px;">
                <h2>{{ post.Title }}</h2>
                <p class="blog-post-meta">{{ post.UpdatedAt|date("m/d/Y") }} by <a href="#">{{ post.Author }}</a></p>


                <p class="blog-post-meta">
                    Tags:
                    {% for tag in post.getTags() %}
                        {{ tag.getTitle }}
                    {% endfor %}
                </p> <p></p>

                {% set link='/post/' ~ post.Slug %}
                <h5> {{ post.Text|ReadMore(link = link) }}</h5>



            </div><!--/span-->

        {% endfor %}

    {% endblock %}