{% extends "ShubaBlogBundle::layout.html.twig" %}

    {% block title %} {{ parent() }} post.Title {% endblock %}
    {% block content %}

        <div class="blog-post" style="margin-bottom: 40px;">
            <h2>{{ post.Title }}</h2>
            <p class="blog-post-meta">{{ post.UpdatedAt|date("m/d/Y") }} by <a href="#">{{ post.Author }}</a></p>
            <h5> {{ post.Text }}</h5>
        </div><!--/span-->

    {% endblock %}