<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">

    </div>
    <div class="sidebar-module">
        <h4>Categories</h4>
    </div>
            <ol class="list-unstyled">
               {{ render(controller('ShubaBlogBundle:Category:categoryTree')) }}
            </ol>
    <div class="sidebar-module sidebar-module-inset">
        <h4>Last posts</h4>
        {{ render(controller('ShubaBlogBundle:Default:lastPosts')) }}
    </div>
    <div class="sidebar-module ">
        <h4>Most viewed posts</h4>
        {{ render(controller('ShubaBlogBundle:Default:mostViewedPosts')) }}
    </div>
    <div class="sidebar-module ">
        <h4>Список тегов</h4>
        {{ render(controller('ShubaBlogBundle:Default:tag')) }}
    </div>

    {#<div id="sidebar-module">#}
        {#<span>Список тегов</span>#}
    {#</div>#}
    {#<ul>#}
        {#{% for tags in tags %}#}
            {#<li>#}
                {#{{tags }}#}
            {#</li>#}
        {#{% endfor %}#}
    {#</ul>#}
</div>